@tailwind base;

:root {
  --accent-main: theme("colors.grey.600");
  --bg-contrast: hsla(0, 18%, 50%, 1);
}

* {
  max-width: 60ch;
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
  border-style: solid;
  border-width: 0;
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html,
body,
div,
header,
nav,
main,
section,
a,
footer,
ol,
li {
  max-width: none;
}

html {
  font-family: avenir next, avenir, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-family: ff-meta-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
.root {
  min-height: 100vh;
}

.root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

body {
  background-color: hsla(36, 64%, 99%, 1);
  color: theme("colors.grey.800");
}

h1,
h2,
h3,
.headline {
  font-family: ff-meta-serif-web-pro, serif;
  font-weight: 300;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -ms-font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh",
    "pnum";
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh", "pnum";
}

hr {
  border-color: theme("colors.grey.400");
}

@tailwind components;

.icon-btn {
  @apply flex rounded-sm text-grey-600 justify-center;
  transition: color 200ms;
}

.icon-btn:focus {
  @apply outline-none;
  box-shadow: 0 0 0 2px rgba(66, 153, 225, 0.4);
}

.icon-btn:active {
  background-color: theme("colors.blue.100");
}

.icon-btn:hover {
  @apply text-grey-900;
}

.icon-btn > svg {
  width: 1em;
  height: 1em;
}

.icon-btn--apple-music > svg {
  width: 80px;
}

.icon-btn--spotify > svg {
  width: 0.7em;
  height: 0.7em;
}

@tailwind utilities;

.ctr {
  padding-left: theme("spacing.6");
  padding-right: theme("spacing.6");
  width: 100%;
  max-width: 1600px;
  @apply mx-auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.small-caps {
  font-variant-caps: small-caps;
  -moz-font-feature-settings: "smcp";
  -webkit-font-feature-settings: "smcp";
  font-feature-settings: "smcp";
  letter-spacing: 0.05em;
}

.decorated-link {
  text-decoration: none;
  box-shadow: inset 0 -1px 0 theme("colors.grey.600");
  border-bottom: 1px solid theme("colors.grey.600");
  transition: background-color 200ms;
}

.decorated-link:hover {
  background-color: theme("colors.grey.600");
  color: theme("colors.grey.50");
}

.serif {
  font-family: ff-meta-serif-web-pro, serif;
  font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
}

.breakout {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.trans {
  transition: all 200ms;
}

.nav-link {
  border-bottom: 1px solid transparent;
  @apply text-sm small-caps;
  transition: all 200ms;
}

.nav-link:hover,
.nav-link--current {
  text-decoration: none;
  box-shadow: inset 0 -1px 0 theme("colors.grey.600");
  border-bottom: 1px solid theme("colors.grey.600");
}

.nav-link--current:hover,
.nav-link--current {
  color: var(--accent-high-contrast);
  box-shadow: inset 0 -1px 0 var(--accent-main, theme("colors.grey.600"));
  border-bottom: 1px solid var(--accent-main, theme("colors.grey.600"));
}

.background-attachment {
  position: fixed;
  width: 105%;
  height: 100%;
  top: 0px;
  left: -8px;
  z-index: -1;
  background-image: url("img/bg.jpg");
  background-position: top left;
  background-size: cover;
}

.bg-loading-base {
  background-color: theme("colors.indigo.200");
}

.bg-loading-inner {
  background-color: theme("colors.indigo.400");
}

@media screen and (min-width: 700px) {
  .background-attachment {
    background-position: center right;
  }
}
