html, 
body {
    height: 100%;
}

body {
    background: url('/img/bg.png');
    margin: 0 auto;
    max-width: 700px;
    @include desktop-and-up {
        max-width: none;
    }
}

hr {
    border: none;
    height: 1px;
    background: $grey;
    margin: $base-spacing-unit 0;
}
