svg {
    transition: fill 200ms;
    fill: $black;
}


.icon-theaironearth {
    stroke: $black;
    stroke-width: 20;
    width: 100%;
    height: 35px;
    @include desktop-and-up {
        width: 220px;
    }
}

.icon-listen {
    width: 100%;
    height: 40px;
    max-width: 65px;
    @include desktop-and-up {
        width: 75px;
        margin-top: -15px;
    }
}
.icon-own {
    width: 80%;
    max-width: 50px;
    height: 60px;
    @include desktop-and-up {
        margin-top: -10px;
    }
}
.icon-about {
    width: 100%;
    height: 65px;
    max-width: 65px;
    @include desktop-and-up {
        width: 70px;
        margin-top: -20px;
    }
}
.icon-exit {
    width: 45px;
    height: 45px;
    margin-top: -15px;
}
.icon-ghost {
    width: 63px;
    height: 42px;
    margin-top: -5px;
}
.icon-second-skin {
    width: 130px;
    height: 45px;
    margin-top: -10px;
}
.icon-reflection {
    width: 88px;
    height: 55px;
    margin-top: -10px;
}
.icon-farewell {
    width: 70px;
    height: 40px;
    margin-top: -10px;
}
.icon-stillness {
    width: 80px;
    height: 40px;
    margin-top: -3px;
}
.icon-young-guns {
    width: 90px;
    height: 50px;
}
.icon-innocent {
    width: 100px;
    height: 50px;
    margin-top: -15px;
}
.icon-wake {
    width: 50px;
    height: 40px;
    margin-top: -8px;
}

.icon-prev,
.icon-next {
    width: 25%;
    svg {
        width: 90px;
        height: 90px;
        max-width: 50px;
        @include desktop-and-up {
            width: 20px;
            height: 25px;
        }
    }
}

.icon-play,
.icon-pause {
    width: 50%;
    @include desktop-and-up {
    }
    svg {
        width: 150px;
        height: 90px;
        max-width: 70px;
        @include desktop-and-up {
            width: 30px;
            height: 40px;
        }
    }
}

.icon-pause {
    svg {
        width: 140px;
        height: 90px;
        @include desktop-and-up {
            width: 20px;
            height: 40px;
        }
    }
}
