body {
    padding: $base-spacing-unit $base-spacing-unit * 2;
    @include desktop-and-up {
        padding: $base-spacing-unit;
    }
}

nav {
    @include desktop-and-up {
        float: left;
        width: 15%;
        margin-right: 3%;
    }
}

main {
    @include desktop-and-up {
        float: right;
        width: 82%;
    }
}

.flowers {
    display: none; 
    @include desktop-and-up {
        display: block;
        z-index: -1;
        position: fixed;
        right: 0;
        bottom: 0;
    }
}

.section {
    display: none;
    &.active {
        display: block;
    }
    > p {
        margin-left: 0;
        max-width: 600px;
    }

}

.section-about,
.section-download {
    max-width: 600px;
}

.listen--active .section-player { display: block; }
.own--active .section-own { display: block; }
.about--active .section-about { display: block; }

.two-by-two {
    a {
        display: inline-block;
        margin-bottom: $base-spacing-unit * 2;
        vertical-align: middle;
        text-align: center;
        width: 50%;
        @include desktop-and-up {
            width: auto;
            text-align: left;
            margin-right: $base-spacing-unit;
        }
        img {
            vertical-align: middle;
        }
    }
}
