$mq-mobile-portrait: 320px !default;
$mq-mobile-landscape: 480px !default;
$mq-tablet-portrait: 768px !default;
$mq-tablet-landscape: 1024px !default;
$mq-desktop: 1382px !default;


// Everything larger than a landscape tablet
@mixin desktop-and-up {
    @media only screen and (min-width : $mq-tablet-landscape + 1) {
        @content;
    }
}


// Map the active track to the color for the active text
// Some backgrounds are dark
$mid: darken($white, 8%);

$tracks: (
    exit: ($primary, $black, $black),
    ghost: ($primary, $black, $black),
    second_skin: ($white, $black, $black),
    reflection: ($white, $grey, $white),
    farewell: ($white, $grey, $white),
    stillness: ($primary, $black, $black),
    young_guns: ($primary, $black, $black),
    innocent: ($primary, $black, $black),
    wake: ($primary, $black, $black)
);

@mixin svg-colors {
    @each $name, $color in $tracks {

        $active: nth($color, 1);
        $inActive: nth($color, 2);
        $body: nth($color, 3);

        .track--#{$name},
        .track--#{$name} .text-link {
            color: $body;
        }

        .track--#{$name} .text-link {
            border-bottom: 1px solid $body;
        }

        
        .track--#{$name} .controls,
        .track--#{$name} nav a {
            svg {
                stroke: #{$inActive};
                fill: #{$inActive};
            }
            &:hover svg {
                stroke: #{$active};
                fill: #{$active};
            }
        }
        .track--#{$name}.listen--active .icon-listen,
        .track--#{$name}.own--active .icon-own,
        .track--#{$name}.about--active .icon-about,
        .track--#{$name} .tracklist .active .icon {
            fill: #{$active};
            stroke: #{$active};
            stroke-width: 20;
        }
    }
}
            
