$mq-mobile-portrait: 320px !default;
$mq-mobile-landscape: 480px !default;
$mq-tablet-portrait: 768px !default;
$mq-tablet-landscape: 1024px !default;
$mq-desktop: 1382px !default;


// Everything larger than a landscape tablet
@mixin desktop-and-up {
    @media only screen and (min-width : $mq-tablet-landscape + 1) {
        @content;
    }
}


// Map the active track to the color for the active text
// Some backgrounds are dark
$tracks: (
    exit: $primary,
    ghost: $primary,
    second_skin: $white
);

@mixin svg-colors {
    @each $name, $color in $tracks {
        .track--#{$name}.listen--active .icon-listen,
        .track--#{$name}.download--active .icon-download,
        .track--#{$name}.about--active .icon-about {
            fill: #{$color};
            stroke: #{$color};
            stroke-width: 20;
        }
        .track--#{$name} nav .active svg {
            stroke: #{$color};
            fill: #{$color};
        }
    }
}
            
