/******************************
* LOGO
******************************/
.logo {
    display: block;
    text-align: center;
    svg {
        width: 100%;
        @include desktop-and-up {
            max-height: 50px;
            width: auto;
        }
    }
}


/******************************
* NAV
******************************/
nav {
    margin-bottom: $base-spacing-unit * 2;
    svg {
        max-width: 100%;
        pointer-events: none;
    }
    a {
        display: block;
        svg {
            @include transition(fill 200ms);
        }
        &:hover {
            cursor: pointer;
            svg {
                fill: $primary;
            }
        }
    }
    .active svg {
        stroke: $primary;
        stroke-width: 20;
    }
}

.subnav {
    > li:not(.tracklist) {
        display: inline-block;
        vertical-align: middle;
        width: 33.33%;
        /*flex: 1;*/
        text-align: center;
        @include desktop-and-up {
            text-align: left;
            display: block;
            width: 100%;
        }
    }
    svg {
    }
}

.tracklist {
    display: none;
    li a {
        display: block;
    }
    @include desktop-and-up {
        display: block;
        padding-left: $base-spacing-unit * 2;
    }
}
