/******************************
* LOGO
******************************/
.logo {
    display: block;
    text-align: center;
    svg {
        width: 100%;
        @include desktop-and-up {
            max-height: 50px;
            width: auto;
        }
    }
}


/******************************
* NAV
******************************/
nav {
    margin-bottom: $base-spacing-unit * 2;
    svg {
        max-width: 100%;
    }
    a {
        display: block;
        svg {
            @include transition(fill 200ms);
        }
        &:hover {
            cursor: pointer;
            svg {
                fill: $primary;
            }
        }
    }

}

.subnav {
    > li:not(.tracklist) {
        display: inline-block;
        vertical-align: middle;
        width: 33.33%;
        /*flex: 1;*/
        text-align: center;
        @include desktop-and-up {
            text-align: left;
            display: block;
            width: 100%;
        }
    }
    svg {
    }
}

.tracklist {
    display: none;
    li a {
        display: block;
    }
    @include desktop-and-up {
        display: block;
        padding-left: $base-spacing-unit * 2;
    }
}

.overlay--active {
    background: $black;
    .tracklist {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 100%;
        /*ul {*/
            /*display: flex;*/
            /*height: 100%;*/
            /*flex-direction: column;*/
        /*}*/
        /*li {*/
            /*flex: 1;*/
        /*}*/
        svg {
            height: 70px;
            fill: $white;
        }
    }
}

.icon--active {
    stroke: $primary;
    stroke-width: 20;
}
