/******************************
* LAYOUT
******************************/
.player {
    margin-bottom: $base-spacing-unit;
    width: 100%;
    @include desktop-and-up {
        height: $player_height;
        top: 0;
        left: 0;
    }
    .logo,
    .controls,
    .scrubber {
        @include desktop-and-up {
            display: inline-block;
            vertical-align: middle;
        }
    }
    .controls {
        margin-bottom: $base-spacing-unit;
        @include desktop-and-up {
            width: 100px;
            margin-right: $base-spacing-unit;
            margin-bottom: 0;
        }
    }
    .scrubber {
        @include desktop-and-up {
            width: calc(100% - 100px - #{$base-spacing-unit});
        }
    }
}


.tracklist--mobile {
    display: block;
    text-align: center;
    a {
        border-bottom: 1px solid $grey;
        display: block;
        padding: $base-spacing-unit;
        cursor: pointer;
    }
    svg {
        margin-top: 0;
    }
    @include desktop-and-up {
        display: none;
    }
}

.controls {
    button {
        padding: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .icon-pause,
    .icon-play {
        width: 33.33%;
        @include desktop-and-up {
            /*width: auto;*/
        }
    }
    .icon-next,
    .icon-prev {
        width: 33.33%;
        @include desktop-and-up {
            /*width: auto;*/
        }
    }
}


.scrubber,
.scrubber__played {
    border-radius: 10px;
}


.scrubber {
    position: relative;
    height: $player_height;
}

.scrubber__inner {
    background: rgba($black, 0.8);
    height: 1px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
}

.scrubber__played {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background: rgba($primary, 0.8);
    height: 100%;
    &:after {
        content: '';
        position: absolute;
        top: -5px;
        right: 0;
        width: 2px;
        height: 11px;
        background: $primary;
        border-radius: 3px;
    }
}

button.icon-pause {
    display: none;
}

/******************************
* STATES
******************************/
.isPlaying {
    .icon-play {
        display: none;
    }
    .icon-pause {
        display: inline-block;
    }
}

.isPaused {
    .icon-play {
        display: inline-block;
    }
    .icon-pause {
        display: none;
    }
}
