/******************************
* LAYOUT
******************************/
.scrubber,
.scrubber__played {
    cursor: pointer;
    display: block;
    height: 10px;
    transition: width 100ms;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    @include desktop-and-up {
        position: fixed;
    }
}

.scrubber {
    background: rgba($black, 0.8);
    width: 0%;
}

.scrubber__played {
    background: rgba($primary, 0.8);
    width: 0%;
}

.player {
    button {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        &:hover svg {
            fill: $primary;
        }
    }
    .controls {
        display: block;
        width: 100%;
        @include desktop-and-up {
            max-width: 150px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .status {
        > div {
            display: inline-block;
            vertical-align: middle;
        }
        @include desktop-and-up {
            width: 10%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .tracklist {
        display: block;
        width: 100%;
        @include desktop-and-up {
            display: none;
        }
    }
    @include desktop-and-up {
    }
}

button.icon-pause {
    display: none;
}

/******************************
* TRACKLIST (Mobile only)
******************************/
.player {
    .tracklist {
        a {
            border-bottom: 1px solid $grey;
            display: block;
            padding: $base-spacing-unit;
            cursor: pointer;
        }
        svg {
            margin-top: 0;
        }
    }
}


/******************************
* STATES
******************************/
.isPlaying {
    .icon-play {
        display: none;
    }
    .icon-pause {
        display: inline-block;
    }
}

.isPaused {
    .icon-play {
        display: inline-block;
    }
    .icon-pause {
        display: none;
    }
}
