/******************************
* LAYOUT
******************************/
.player {
    box-sizing: border-box;
    .controls {
        display: block;
        width: 100%;
        @include desktop-and-up {
            max-width: 150px;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .scrubber {
        display: block;
        height: 30px;
        width: 100%;
        @include desktop-and-up {
            width: 80%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .status {
        > div {
            display: inline-block;
            vertical-align: middle;
        }
        @include desktop-and-up {
            width: 10%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .tracklist {
        display: block;
        width: 100%;
        @include desktop-and-up {
            display: none;
        }
    }
    @include desktop-and-up {
    }
}


/******************************
* CONTROLS
******************************/
.icon-prev,
.icon-next,
.icon-play,
.icon-pause {
    display: inline-block;
    vertical-align: middle;
    svg {
        @include transition(fill 200ms);
        fill: $black;
        @include desktop-and-up {
            /*max-height: $player_height / 2;*/
            /*fill: $grey;*/
        }
    }
    &:hover {
        cursor: pointer;
        svg {
            fill: $primary;
        }
    }
}

.icon-prev,
.icon-next {
    width: 25%;
    svg {
        width: 90px;
        height: 90px;
        @include desktop-and-up {
            width: 20px;
            height: 25px;
        }
    }
}

.icon-pause {
    display: none;
}

.icon-play,
.icon-pause {
    width: 50%;
    @include desktop-and-up {
    }
    svg {
        width: 150px;
        height: 180px;
        fill: $black;
        @include desktop-and-up {
            width: 30px;
            height: 50px;
        }
    }
}


/******************************
* TRACKLIST (Mobile only)
******************************/
.player {
    .tracklist {
        a {
            border-bottom: 1px solid $grey;
            display: block;
            padding: $base-spacing-unit;
            cursor: pointer;
        }
        svg {
            margin-top: 0;
        }
    }
}

.isPlaying {
    .icon-play {
        display: none;
    }
    .icon-pause {
        display: block;
    }
}

.isPaused {
    .icon-play {
        display: block;
    }
    .icon-pause {
        display: none;
    }
}


/******************************
* SCRUBBER
******************************/
.scrubber {
    padding: 0 $base-spacing-unit/2;
    position: relative;
    .scrubber-inner,
    .scrubber-played {
        border-radius: 3px;
        position: absolute;
        height: 6px;
        top: 50%;
        margin-top: -3px;
    }
    .scrubber-inner {
        width: 100%;
        background: $black;
    }
    .scrubber-played {
        width: 90%;
        background: $primary;
    }
}


/******************************
* STATUS
******************************/
.status {
    color: $black;
    text-align: center;
}
