body {
    font-family: "Chronicle Display A", "Chronicle Display B";
    font-style: normal;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.push {
    margin-bottom: 2.5em;
}

.mini {
    font-size: 0.9em;
}
