body {
    font-family: "Chronicle Display A", "Chronicle Display B";
    font-style: normal;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.lyric-group {
    margin-bottom: 1em;
    p {
        margin-bottom: 0;
    }

}

.push {
    margin-bottom: 2.5em;
}

.mini {
    font-size: 0.9em;
}

.text-link {
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid $primary;
    color: $primary;
    transition: color 300ms;
    &:hover {
        color: darken($primary, 15%);
    }
}


// Magic Numbers!
// Not great I know, but just brute-forcing this so it lines up with the menu 
.section h2 {
    line-height: 40px;
}
